body, html {
    margin: 0;
    padding: 0;
}

.top-bar {
    background-color: #F7B9F9; 
    height: 65px; 
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.container {
    display: flex;
    width: 100%; 
}

.top-link {
    position: absolute;
    top: 55%;
    left:60%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 8px; 
}

.top-link a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;
}

.top-link a:last-child {
    margin-right: 0; 
}

/*Logo*/ 

.top-left-image {
    position: fixed; 
    z-index: 1001; 
}


/*Seu Perfil*/

#seuPerfil {
    top: 0;
    right: 0;
    z-index: 999;
}

#menu button {
    background-color: #EE3CF1;
    color: white
}

#spbtn {
    position: fixed;
    top: 14px; 
    right: 55px;
    z-index: 9999;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#ftperfil {
    position: fixed;
    top: 14px;
    right: 6px; 
    z-index: 9999; 
    border-radius: 50%;
    height: 40px;
}

#spbtn:hover{
    background-color: #b72cb9;
}

.top-left-image {
    position: absolute;
    top: 25px;
    left: 20px;
    width: 300px;
    height: auto;
}

nav {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

nav a {
    margin-left: 25px;
    text-decoration: none;
    color: black;
    font-size: 30px;
}

@media only screen and (max-width: 768px) {
    #menu button,
    #spbtn,
    #ftperfil {
        display: none; 
    }
}

/*Menu Lateral*/

.container {
    display: flex;
    width: 100%; 
}

.content {
    flex: 1; 
}

.sidebar {
    position: relative; 
    float: right; 
    width: 270px; 
    margin-top: 100px; 
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.sidebar ul li a:hover {
    background-color: #555;
}

/* Estilos adicionais para o menu lateral */
#aside a:hover {
    color: #067217;
    text-shadow: rgb(180, 167, 167) 2px 2px 2px;
}

#aside a {
    text-decoration: none;
    color: black;
}

#aside li {
    background-image: url(imagens/listaside.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
    list-style-type: none;
    padding: 10px 25px;
}

#aside h4 {
    margin-bottom: 40px;
    color: #067217;
    text-shadow: rgb(180, 167, 167) 2px 2px 2px;
    text-align: center;
    font-size: 28px;
}

#aside {
    background-image: linear-gradient(#FFEDFF, white);
    padding-top: 16px;
    overflow: hidden;
    margin-top: 200px; 

}

#imgaside {
    width: 100%;
    height: auto;
}

/* Estilos adicionais para o menu lateral */
#aside a:hover {
    color: #067217;
    text-shadow: rgb(180, 167, 167) 2px 2px 2px;
}

#aside a {
    text-decoration: none;
    color: black;
}

#aside li {
    background-image: url(imagens/listaside.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
    list-style-type: none;
    padding: 10px 25px;
}

#aside h4 {
    margin-bottom: 50px;
    color: #067217;
    text-shadow: rgb(180, 167, 167) 2px 2px 2px;
    text-align: center;
    font-size: 28px
}

#aside {
    background-image: linear-gradient(#FFEDFF, white);
    padding-top: 16px;
    overflow: hidden;
}

#imgaside {
    width: auto;
}

.asdlink:hover {
    color: #067217;
}

@media only screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }
}

.advertise-adoption {
    flex: 1; 
    text-align: center; 
}

.advertise-adoption a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.advertise-adoption a:hover {
    text-decoration: underline; 
}

.top-link {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100%;
}

.top-link a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    margin: 0 15px; 
}

@media only screen and (max-width: 768px) {
    .top-link a {
        display: none;
    }
}

/*Imagem do centro*/

.centered-image {
    position: absolute;
    top: 40%; 
    left: 45%; 
    transform: translate(-50%, -50%); 
    border-radius: 50%; 
}

.centered-image img {
    width: 350px; 
    height: 350px; 
    object-fit: cover; 
    border-radius: 50%; 
}

/*Texto Central*/
.text-central {
    position: absolute;
    top: 530px; 
    left: 25%; 
    margin-bottom: 40px; 
    font-size: 28px; 
}

.texto-baixo{
    position: absolute;
    top: 610px; 
    left: 15%; 
    margin-bottom: 40px; 
    font-size: 16px;
}

.texto-baixo2{
    position: absolute;
    top: 670px; 
    left: 15%; 
    margin-bottom: 40px; 
    font-size: 16px; 
}

.texto-baixo3 {
    position: absolute;
    top: 730px; 
    left: 15%; 
    margin-bottom: 40px;
    font-size: 16px; 
}

/* Estilos para telas menores que 768px (mobile) */
@media only screen and (max-width: 768px) {
    .centered-image {
        top: 50%;
        width: 70%;
    }
    .text-central {
        top: 76%;
        font-size: 20px;
        width: 80%;
        left: 13%;
    }
    .texto-baixo {
        top: 83%;
        font-size: 20px;
        width: 80%;
        left: 13%;
    }
    .texto-baixo2{
        top: 133%;
        font-size: 20px;
        width: 80%;
        left: 13%;
    }
    .texto-baixo3 {
        top: 110%;
        font-size: 20px;
        width: 80%;
        left: 13%;
    }
}

/*Mapa*/

.map-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    margin-top: 20px;
}

.map-title {
    margin-bottom: 720px;
}

@media only screen and (max-width: 768px) {
    .map-title {
        margin-bottom: 950px;
    }
}

/*Barra de Pesquisa*/

.search-container {
    margin-top: 80px;
    text-align: right;
}

input[type="text"] {
    padding: 10px;
    width: 200px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #b72cb9;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #F7B9F9;
}

.btn-pink {
    background-color: #b72cb9;
    color: white;
    border-color: #b72cb9;
    margin-top: 20px;
    margin-right: 20px;
}

.btn-pink:hover {
    background-color: #F7B9F9;
    border-color: #F7B9F9;
    color: #fff;
}

.btn-group {
    margin-bottom: 10px;
}


@media screen and (max-width: 991px) {
    .navbar .navbar-nav .nav-link:hover {
        background-color: #F7B9F9;
    }

    #logo,
    #menu li {
        margin: 0 auto;
    }
    #aside{
       padding-top: 0;
       margin: 0;
    }
    #aside h4{
        text-align: center;
    }

    #imgaside{
        display: none;
    }

}

@media screen and (max-width: 991px) {}
    .navbar .navbar-nav .nav-link:hover {
        background-color: #F7B9F9;
    }

    #logo,
    #menu li {
        margin: 0 auto;
    }
    #aside{
       padding-top: 0;
       margin: 0;
    }
    #aside h4{
        text-align: center;
    }

