#itens-menu {
    margin: 0 auto;
    
}

.navbar .navbar-nav .nav-link:hover {
    background-color: #EE3CF1;
    border-radius: 20px;
}

.nav-item a {
    color: white;
}


#menu {
    background-color: #F7B9F9;
}


#menu button {
    background-color: #EE3CF1;
    color: white
}

#spbtn:hover{
    background-color: #b72cb9;
}

/*aside img 2*/
#imgaside2{
    display: none;
}

/*arrumar menu mobile e aside*/
@media screen and (max-width: 991px) {
    .navbar .navbar-nav .nav-link:hover {
        background-color: #F7B9F9;
    }

    #logo,
    #menu li {
        margin: 0 auto;
    }
    #aside{
       padding-top: 0;
       margin: 0;
    }
    #aside h4{
        text-align: center;
    }
    /*tira img1 e troca pela 2 no aside*/
    #imgaside{
        display: none;
    }
    #imgaside2{
        display: block;
        width: 270px;
        border-radius: 100px;
        margin: 0 auto;
    }
}


#aside a:hover{
    color:#067217;
    text-shadow:rgb(180, 167, 167) 2px 2px 2px;
}

#aside a {
    text-decoration: none;
    color: black;
}


#aside li {
    background-image: url(../imagens/listaside.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
    list-style-type: none;
    padding: 10px 25px;
}

#aside h4 {
    margin-bottom: 40px;
    color: #067217;
    text-shadow: rgb(180, 167, 167) 2px 2px 2px;
    text-align: center;
}

#aside {
    background-image: linear-gradient(#FFEDFF, white);
    padding-top: 16px;
    overflow: hidden;
}

#imgaside{
    width: auto;
    
}

.asdlink:hover{
    color:#067217;
}


/*padronizar texto principal do main*/
.tit-main, #btnVoltar{
    margin: 15px;
}


#divmain h5{
    margin-top: 10px;
}
#adoc-email,#adoc-tel, #denunc-email, #denunc-tel{
    margin: 5px;
}
#enviar-arquivoD, #enviar-arquivoAd{
    background-color: #F7B9F9;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}


#postarD, #postarAd{
    background-color: #EE3CF1;
    color: white;
    padding: 5px 15px;
    margin-top: 30px;
    position: sticky; 
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

#postarD:hover{
   background-color: #b72cb9;
}
#postarAd:hover{
    background-color: #b72cb9;
 }

 /*página Inicial, Login e Cadastro*/
#sejaBemV{
    color: #EE3CF1;
    text-shadow: #999 1px 1px;
}
#login{
 background-color: #EE3CF1;
 color: white;
 margin-right: 10px;
 padding: 6px 25px;
 position: relative;
 top: 40%;
 font-size: large;
}
#cadastro{
    border: solid 1px #EE3CF1;
    color: #EE3CF1;
    background-color: white;
    margin-left: 10px;
    padding: 6px 15px;
    position: relative;
    top: 40%;
    font-size: large;
 }
 #iniciar{
    background-color: #FFEDFF;
    padding: 20px;
 }

 
 #txtIntro{
    margin: 10px;
    font-weight: 400;
 }

 #titLoginCad{
    color: #EE3CF1;
    text-shadow: #999 1px 1px;
    margin-top: 140px;
    margin-bottom: 10px;
 }

/* #formLogin{
   position: relative;
    left: 38%;
} */

#btnEntrar{
    background-color: #EE3CF1;
    color: white;
}
#btnCriarConta{
    background-color: #EE3CF1;
    color: white;
}


/* estilo das Postagens Denúncias*/
#divDenuncias, #divDoacoes{
    display: flex;
    flex-wrap: wrap;
    
}

.novaden, .novaadoc{
    margin: 20px;
    padding: 30px 25px 15px;
    text-align: center;
    border: solid 1px #FFEDFF;
    width: 400px;
    min-height: 200px;
    word-wrap: break-word;
}

 
.btnDetalhes{
    background-color: #EE3CF1;
    padding: 5px 10px;
    border: 0px;
    border-radius: 10px;
   
}
.btnDetalhes:hover{
    background-color: #b72cb9;
}
.btnDetalhes a{
    text-decoration: none;
    color: white;
}


/* DETALHES DA DENUNCIA */
.txtDetalhes{
    font-size: 20px;
    margin-top: 15px;
}

.imgDetalhes{
    overflow: hidden;
    width: 100%;
}

.semFtDen{
    width: 170px;
    height: 170px;
    margin: 0 auto;
    text-align: center;
}
.semFtDen p{
    position: relative;
    top: 35%;
    font-weight: 700;
}